@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-1: #adadad;
  --dark-1: #2a2a2a;
}

/* div {
  border: 1px solid rgb(var(--light-1));
} */

body {
  color: var(--light-1);
  background: var(--dark-1);
}

main {
  font-family: "Poiret One", sans-serif;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
}
button {
  color: var(--dark-1);
  background: var(--light-1);
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
}
label {
  color: var(--light-1);
}
input {
  color: var(--dark-1);
  background: var(--light-1);
  border-radius: 0.25rem;
}
paragraph {
  color: var(--light-1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
